{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
     <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-post' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:'F d, Y' }}</small>
          {% if object.author == user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
          {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        {% if user.is_authenticated %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" onclick="like({{object.id}})">Like! <span id="likes{{object.id}}">{{object.likes}}</span></a>
        {% else %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'login' %}">Like! <span id="likes{{object.id}}">{{object.likes}}</span></a>
        {% endif %}</a>
        <ul class="list-group">
          {% for p in object.comment.all %}
            <li class="list-group-item list-group-item-light">
              <a class="mr-2" href="{% url 'user-post' p.user.username %}">{{ p.user.username }}</a>
              <p class="comment">{{ p }}</p>
            </li>
          {% endfor %}
        </ul>
        <div class="content-section">
         
    <form action="comment/" method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">New Comment</legend>
        <input type="text" name="comment" placeholder="Add a comment!">
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Post!</button>
      </div>
    </form>
  </div>        
      </div>
    </article>
{% endblock content %}
